# Heading!!
## Markdown Subheading
### Markdown Paragraph

In [ ]:
print("Hello World")
print("Nameste Duniya")




# Sum of two Numbers

In [ ]:
x=9
y=8
print(x+y)

# List Operations

In [ ]:
mylist= [1,2,3,4,5]
print(mylist)
mylist.append(6)
print(mylist)
mylist.remove(3)
print(mylist)
mylist.insert(2,3)
print(mylist)

# Tuple Operations

In [ ]:
mytuple= (1,2,3,4,5)
print(mytuple)
print(mytuple[2])
mytuple= mytuple + (6,)
print(mytuple)
print(mytuple.count(3))
print(mytuple.index(3))

# Dictionaries Operations

In [ ]:
mydict= {'a':1, 'b':2, 'c':3}
print(mydict)
mydict.update({'d': 4})
print(mydict)

# Numpy

In [ ]:
import numpy as np

In [ ]:
list1= np.array([1, 2, 3]) 
tuple1= np.array(("1", "2", "3"))
print(list1)
print(tuple1)
print(list1.ndim)
print(tuple1.ndim)

In [ ]:
print(type(list1))
print(list1.dtype)

In [ ]:
list2= np.array(["1", "2", "5"], dtype= "i")
print(list1[2])

In [ ]:
list2= list1.copy()
list2[0]= 5
print(list1)
print(list2)

In [ ]:
list3= list2.view()
list3[0]= 7
print(list3)
print(list2)

In [ ]:
list4= np.array((1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12))
newarray= list4.reshape(4,3)
print(newarray)
#newarray= list4.reshape(-1)
#print(newarray)

In [ ]:
newarray[:, [2,0]]= newarray[:, [0,2]]
print(newarray)

In [ ]:
sortarray= np.array([3, 2, 0, 1, 8, 6, 4, 5, 7])
print(np.sort(sortarray))

In [ ]:
sortarr= np.array(['Lakshy', 'Aman', 'Nandini', 'Diya', 'Rahul', 'Aman'])
print(np.sort(sortarr))

In [ ]:
sortarr= np.array(['Lakshy', 'Aman', 'Shyam', 'Diya'])
x= [True, False, True, False]
newarr= sortarr[x]
print(newarr)
#print("Reverse Order:" ,sortarr[::-1])
print(np.flip(sortarr, axis=0))

In [ ]:
arr4= np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
condition= arr4>5
newarr= arr4[condition]
print(newarr)

In [ ]:
print(arr4[2]+ arr4[5])
print(arr4[2]- arr4[5])
print(arr4[2]* arr4[5])
print(arr4[2]/ arr4[5])
print(arr4[2]% arr4[5])

In [ ]:
arr5= np.array([1, 2, 3, 4, 5])
arr6= np.array([6, 7, 8, 9, 10])
print(np.add(arr5, arr6))  #Addition 
print(np.concatenate((arr5, arr6))) #Concatenation

There is a difference between add and concate. Remember add function actually performs addition addition while concate function combines the values of an array.

In [ ]:
from numpy import random
random.shuffle(arr5)
print(arr5)
random.permutation(arr5)
print(arr5)
print(arr5)

In [ ]:
arr7= np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 12, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22])
print(np.split(arr7, 5))
print(arr7.shape)
print(np.flip(arr7))
print(np.unique(arr7))

In [ ]:
np.savetxt('newfile4.csv', arr7)
arr8= np.loadtxt('newfile4.csv')
print(arr8)
# print(np.load('newfile.npy'))

## Leniar Algebra Operations

In [ ]:
from numpy import linalg
# import numpy as np
a= np.array([[1, 2], [4, 5]])
b= np.array([[7, 8], [10, 11]])

# print(np.dot(a, b))
# print(np.matmul(a, b))
print(np.linalg.det(a))
print(np.linalg.inv(a))
print(np.linalg.matrix_rank(a))

## np.randon.seed

The np.random.seed() function is crucial for ensuring reproducibility in your code when generating random numbers. Without setting a seed, NumPy will produce different random numbers every time you run the code.

In [ ]:
np.random.seed(1)          # Ensures reproducibility
#print(np.random.rand(3, 3)) # Uniform distribution
print(np.random.randn(3, 3))# Normal distribution
print(np.random.randint(1, 10, (3, 3))) # Random integers
print(np.random.choice(['a', 'e', 'i', 'o', 'u'], 4)) # Random choice

In [ ]:
print(np.random.choice([1, 2, 3, 4, 5], size= (3, 3))) # Random choice
print(np.random.permutation([1, 2, 3, 4, 5])) # Random permutation

In [ ]:
# Save an array to a CSV file
np.savetxt('array_data.csv', arr7, delimiter=',')

# Load the array back from the CSV file
loaded_array = np.loadtxt('array_data.csv', delimiter=',')
print("Loaded Array:")
print(loaded_array)

np.save('array_data.npy', arr7) # Save an array to a binary file
loaded_array = np.load('array_data.npy') # Load the array back from the binary file
print("Loaded Array:")
print(loaded_array)

In [ ]:
arr56= np.array([1, 2, 3, 4, 5, 6])
print(np.mean(56))
print(np.median(arr56))
print(np.sum(arr56))

# Pandas

In pandas data is stored in the format of Dictionary and hence key value pairs are required. On the other hand data shown in the output is in the form of table for better understability and apperance.

In [ ]:
import pandas as pd

In [ ]:
dict= { 'Name': ['Rahul' , 'Ram', 'shyam'], 
       'Age': ['26', '14', '17'],
       'City': ['Indore', 'Pune', 'Mumbai']
}

a= pd.DataFrame(dict)
print(a)

In [ ]:
data= [10, 20, 30, 40, 50]
series= pd.Series(data, index=[1, 2, 3, 4, 5])
print(series)

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'], 
    'Gender': ['M', 'M', 'F']
}

df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)

# Operations on DataFrame

In [ ]:
print(df.head()) # Display the first 5 rows of the DataFrame

In [ ]:
print(df.tail()) # Display the last 5 rows of the DataFrame

In [ ]:
print(df.info()) # Display information about the DataFrame

In [ ]:
print(df.describe()) # Display summary statistics of the DataFrame

In [ ]:
print(df.loc['a']) # Access row by label

In [ ]:
print(df['Age']>30) # Boolean indexing

In [ ]:
print(df[df['Age']>30]) # Filter rows based on condition

In [ ]:
print(df.iloc[0]) # Access row by index position
# print(df.iloc[1]) # Access row by index position

In [ ]:
print(df.iloc[0:2]) # Access multiple rows by index position

In [ ]:
print(df.iloc[:, 1]) # Access a specific column by index position
print(df.iloc[:, 1:3]) # Access multiple columns by index position

# Reading Json file
Here we are going to read a json file Top 100 Largest Banks.json and then will perform data manipulation in this json file.

In [ ]:
data= pd.read_json('Top 100 Largest Banks.json') # Read a CSV file into a DataFrame
print(data)

Writing CSV file

In [ ]:
data.to_csv('output.csv', index=False) # Write the DataFrame to a CSV file
data.to_excel('output.xlsx', index=False) # Write the DataFrame to an Excel file

Checking Null values in The above CSV file

In [ ]:
data.isnull().sum() # Check for missing values in the DataFrame
# data.dropna() # Drop rows with missing values
# data.fillna(0) # Fill missing values with 0

Single and Multiple Conditions

In [ ]:
data[data["Rank"]< 10] # Filter rows based on condition

Renaming the file

In [ ]:
data= pd.read_csv('output.csv') # Read a CSV file into a DataFrame
print(data.head()) # Display the first 5 rows of the DataFrame

Renaming the column

In [ ]:
data.rename(columns={'Total Assets (2023, US$ billion)': 'Assets'}, inplace=True)

In [ ]:
data.head(10)

In [ ]:
data.to_csv('output.csv', index=False) # Write the DataFrame to a CSV file

In [ ]:
data.duplicated().sum()

In [ ]:
data.drop_duplicates()

In [ ]:
data.describe() # Display summary statistics of the DataFrame

# Calculating nth percentile of a column

In [ ]:
data.Rank.quantile(0.75) # Calculate the nth percentile of the 'Rank' column

In [ ]:
print(data[['Rank', 'Bank Name']]) # Display specific columns of the DataFrame

In [ ]:
print(data.head(10))

If you know the column number the access the data by name using "iat" function but if you are aware about the the column index number then try to access by that using "at" function because it is bit fast than iat

In [ ]:
print(data.at[0, 'Bank Name']) # Access a specific cell by label
print(data.iat[0, 2]) # Access a specific cell by index position

In [ ]:
data.columns = data.columns.str.lower().str.replace(' ', '_')

In [ ]:
# data.drop(columns=['Rank', 'Bank Name'], inplace=True) # Drop specific columns from the DataFrame
# data.drop(index=[0, 1], inplace=True) # Drop specific rows from the DataFrame

In [ ]:
print(data)

In [ ]:
# # Convert the 'Date' column to datetime format
# data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')

# # Extract the year from the 'Date' column
# data['Year'] = data['Date'].dt.year

# # Extract the month from the 'Date' column
# data['Month'] = data['Date'].dt.month

# # Extract the day from the 'Date' column
# data['Day'] = data['Date'].dt.day

# # Extract the day of the week from the 'Date' column
# data['Day of Week'] = data['Date'].dt.day_name()

In [ ]:
data=pd.DataFrame(pd.read_json('Top 100 Largest Banks.json'))

In [ ]:
nump=data.aggregate(
    { 
        'Rank': ['min', 'max', 'mean'],
        'Bank Name': ['count']
        # 'Total Assets (2023, US$ billion)': ['sum', 'mean']
    }
) # Aggregate data using multiple functions

In [ ]:
# data.groupby('Year').sum() # Group by 'Year' and calculate the sum of all columns
# data.groupby('Year').agg({'Rank': 'mean', 'Bank Name': 'count'}) # Group by 'Year' and calculate the mean of 'Rank' and count of 'Bank Name'

In [ ]:
rdf= pd.read_csv('Cryptocurrency Transaction Data.csv')

In [ ]:
rdf.groupby('Currency').sum() # Group by 'Type' and calculate the sum of all columns

In [ ]:
pd.pivot_table(rdf, index= 'Transaction_ID',  values= 'Amount', aggfunc="sum")

In [ ]:
import matplotlib as plty
import matplotlib.pyplot as plt

In [ ]:
rdf.plot('Currency')

In [ ]:
data1= pd.read_csv('output1.csv')

In [ ]:
data1.info()

In [ ]:
data1

In [ ]:
# data1.plot(x='Age', y='Salary', kind='scatter') # Scatter plot
data1.plot(x='Age', y='Salary', kind='hist') # Scatter plot
# data1.plot(x='Age', y='Salary', kind='line') # Line plot
# data1.plot(x='Age', y='Salary', kind='bar') # Bar plot

In [ ]:
data1.plot(x='Age', y='Weight', kind='hist', title='Age vs Weight', xlabel='Age', ylabel='Weight') # Histogram
# data1.plot(x='Age', y='Weight', kind='scatter', title='Age vs Weight', xlabel='Age', ylabel='Weight') # Scatter plot
# data1.plot(x='Age', y='Weight', kind='box', title='Age vs Weight', xlabel='Age', ylabel='Weight') # Box plot

In [ ]:
data1.plot.hist(column='Age', bins=10, title='Age Distribution', xlabel='Age', ylabel='Frequency') # Histogram
# data1.plot.box(column='Age', title='Age Distribution', xlabel='Age', ylabel='Frequency') # Box plot
data1.plot.area(column='Age', title='Age Distribution', xlabel='Age', ylabel='Frequency') # Area plot

In [ ]:
data1.plot(x='Age', y='Weight', kind='hist', grid= True)
plt.show()

In [ ]:
data1.plot.scatter(x='Age', y='Weight')

In [ ]:
df1 = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Product_A': [100, 120, 130, 150],
    'Product_B': [90, 110, 140, 160]
})

ax = df1.plot(x='Month', y='Product_A', label='Product A', linestyle='-', color='blue', marker='o')
df1.plot(x='Month', y='Product_B', label='Product B', kind='bar', color='green', ax=ax)
plt.title("Monthly Sales Comparison")
plt.grid(False)
plt.show()

# Seconday_y

In [ ]:
df1 = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Product_A': [100, 120, 130, 150],
    'Product_B': [90, 110, 140, 160]
})

ax = df1.plot(x='Month', y='Product_A', label='Product A', linestyle='-', color='blue', marker='o')
df1.plot(x='Month', y='Product_B', label='Product B', kind='bar', color='green', ax=ax, secondary_y=True)
plt.title("Monthly Sales Comparison")
plt.grid(True)
plt.show()

In [ ]:
df1.index= df1['Month']